.wrapper {
    position: absolute;
    left: 0;
    // padding: 30px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 10%;
    z-index: 999;

    li:not(:first-child):not(:last-child) {
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        width: 100%;
        line-height: 50px;
    }
}
